<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
  <package id="SQLitePCLRaw.bundle_green" version="2.1.8" manuallyInstalled="true" />
  <package id="SQLitePCLRaw.core" version="2.1.8" manuallyInstalled="true" />
  <package id="SQLitePCLRaw.lib.e_sqlite3" version="2.1.8" />
  <package id="SQLitePCLRaw.provider.e_sqlite3" version="2.1.8" />
  <package id="System.Buffers" version="4.4.0" />
  <package id="System.Memory" version="4.5.3" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" />
  <package id="sqlite-net" version="1.6.292" manuallyInstalled="true" />
</packages>